<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Signn Up </title>
</head>
<body>
    <h1> Sign UP </h1>
    <form action="/user" method ="POST"> 
        <label> Enter Your Name: </label>
        <input name="name" placeholder="Enter Your Full Name" type="text" required />
         <label> Enter Your EmailId: </label>
        <input name="email" placeholder="Enter Your Emailid" type="text" required />
         <label> Enter Your Password: </label>
        <input name="password" placeholder="Enter Your Password" type="text" required />
        <button type="submit"> Sign UP </button>
    </form>
</body>
</html>